@import '_config';
@import '_utilities';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600&subset=latin-ext');

:root {
  overflow-y: scroll;
  
  font-size: 8px;
  --gutter: 3rem;

  --color-body: rgba(0,0,0,1);
  --color-muted: rgba(0,0,0,.5);
  --color-anchor: #006FCE;
  
  
  @media (min-width: 900px) {
    font-size: 10px;
    --gutter: 4rem;
  }
}

body {
  font-size: 2rem;
  font-family: $font-family;
  line-height: 1.5;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-anchor);
}


body {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}


.large {
  font-size: 125%;
}


.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}


@media (max-width: 899px) {
  main section {
    min-height: calc(100vh - 12rem);
  }
  .navcontrols {
    position: sticky;
    bottom: 0;
    background: #fff;
  }
}
@media (min-width: 900px) {
  main section {
    min-height: calc(100vh - 12rem);
  }
}


.media {
  position: relative;

  border: 1px solid lightgray;

  img {
    display: block;
  }

  @media (max-width: 899px) {
    margin-bottom: 1em; 
    padding-bottom: 56.25%;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}



body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



// you need
// 1. div before media
// 2. div for media
// 3. div after media
// container takes a 4 row template: 1fr auto auto 1fr;
// before media row: 2
// after media row: 3
// media row-start; 1 / -1

// .section {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr auto auto 1fr;

//   .section-media {
//     grid-column: 2;
//     grid-row: 1 / -1;
//     height: 40rem;
//   }
// }
